[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/bigspring"]
	path = themes/bigspring
	url = https://github.com/themefisher/bigspring-hugo-startup-theme.git
